# Database
DB_URL=url
DB_USER=user
DB_PASSWORD=pass

# JWT setup
JWT_SECRET=secret
JWT_EXPIRATION_MS=ms
JWT_EXPIRATION_DAYS=days

# SMS
SMS_API_KEY=your_api_key_here
SMS_LOGIN=login
SMS_PASSWORD=password
SMS_SENDER_NAME=
SMS_DEBUG=true/false

# Default admin credentials
DEFAULT_ADMIN_PHONENUMBER=phone
DEFAULT_ADMIN_PASSWORD=password

# Payments
STRIPE_PKEY=pk
STRIPE_SKEY=sk
